  <form action="/interest/new" method="POST" id="form">

    <select name="user[interest]">
      <% @interest.each do |i| %>
      <option value="<%= i.interest %>"><%= i.interest %></option>
      <% end %>
    </select><br>

    <input type="text" name="interest" placeholder="new interest">

    <input type="submit" value="add interest">
  </form>

<form action="/interest/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete" class="button">

</form>

